page-login {
    .button{
        text-align:center;
        width: 87vw;
    }

    #login{
        width:50vw;
        height:5vh;
        font-size: 120%;
        font-family: Arial, Helvetica, sans-serif;
    }
    .list{
        margin-top: 20vh;
        height:15vh;
    }

}
