page-home {

    h2.total, p.saldo{
       font-size: 120%; 
    }

    p.saldo#positivo{ 
        color: green;
        margin-bottom: -22px;
        margin-right:-8px;
    }

    p.saldo#negativo{
        color: red; 
        margin-bottom: -22px;
        margin-right:-8px;   
    }

    h2.total#valor{
        margin-top: 4px;
    }

}
