page-home {

    h2.total, p.saldo{
       font-size: 120%; 
      
    }
    p.saldo#positivo{ 
        color: green;
        margin-bottom: 7px;
    }

    p.saldo#negativo{
        color: red; 
        margin-bottom: 7px;   
    }

    h2.total#valor{
        margin-bottom: 7px;
    }
}
